<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <% IF page.title %><% page.title %><% END %>
    <% IF page.title AND (config.web.title OR config.web.name) %> — <% END %>
    <% IF config.web.title OR config.web.name %><% config.web.title || config.web.name %><% END %>
  </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="<% webroot %>static/isdb.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Page-specific <head> elements -->
  <% IF page.head %><% page.head | none %><% END %>

  <!-- Site-specific <head> elements -->
  <% IF config.web.template.head %>
    <% INCLUDE $config.web.template.head %>
  <% END %>
</head>
<body>
<div class="container">
  <% IF version.frozen %>
    <div class="row">
      <div class="col-sm-12">
        <div class="frozen-notice notice text-lg bg-warning">
          <p>
            This page is part of a <strong>copy</strong> of
            <% config.web.name || 'the data' %>
            <strong>frozen in time</strong> on
            <strong><% parse_timestamp(version.timestamp).strftime("%d %B %Y") %></strong>.
            The permanent URL of this frozen version is:
            <a href="<% config.web.base_url _ version_url(version) %>"><% config.web.base_url _ version_url(version) %></a>.
          </p>
          <p>
            If you’re not using this frozen version for analysis, you may want to
            <a href="<% config.web.base_url %>">switch to the latest version</a>.
          </p>
        </div>
      </div>
    </div>
  <% END %>

  <% IF config.web.title || config.web.name %>
    <h1>
      <% config.web.title || config.web.name %>
      <% IF config.web.subtitle %>
        <small><% config.web.subtitle %></small>
      <% END %>
    </h1>
  <% END %>

  <% INCLUDE "nav.tt" %>

  <% content | none %>

  <div class="row footer">
    <div class="col-md-8 col-sm-12">
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="https://mullinslab.microbiol.washington.edu">
            <img src="https://mullinslab.microbiol.washington.edu/img/ml.png"
                 alt="Mullins Lab"
               class="media-object">
          </a>
        </div>
        <div class="media-body">
          <% IF config.web.template.footer %>
            <% INCLUDE $config.web.template.footer %>
          <% ELSE %>
            <!--
              Did you know you can include your own footer material here? 😀
              See the ISDB’s default config.yaml for more information on how
              to configure that!
            -->
          <% END %>
          <p>
            Built with <a href="https://mullinslab.microbiol.washington.edu/isdb/">ISDB</a>,
            a project of the
            <a href="https://mullinslab.microbiol.washington.edu">Mullins Molecular Retrovirology Lab</a>
            at the <a href="https://washington.edu">University of Washington</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
