<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Integration Site Database (ISDB)</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style type="text/css">
    body { padding-bottom: 10em }
    .text-lg { font-size: 1.2em }
    .notice { padding: 0.5em 0.7em }
    .notice p:last-child { margin-bottom: 0 }
    .col > h1:first-child, .col > h2:first-child, .col > h3:first-child, .col > h4:first-child { margin-top: 0 }
  </style>
</head>
<% version_url = ->(v) { config.base_url _ (v.frozen ? "frozen/" _ v.name _ "/" : "") } %>
<body class="container">
  <h1>Integration Site Database <small>ISDB</small></h1>
  <hr>
  <% IF version.frozen %>
    <div class="row">
      <div class="col-sm-12">
        <div class="notice text-lg bg-warning">
          <p>
            This page is part of a <strong>copy</strong> of the ISDB
            <strong>frozen in time</strong> on
            <strong><% parse_timestamp(version.timestamp).strftime("%d %B %Y") %></strong>.
            The permanent URL of this frozen version is:
            <a href="<% version_url(version) %>"><% version_url(version) %></a>.
          </p>
          <p>
            If you’re not using this frozen version for analysis, you may want to
            <a href="<% config.base_url %>">switch to the latest version</a>.
          </p>
        </div>
        <hr>
      </div>
    </div>
  <% END %>
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <p class="lead">
        The ISDB aims to provide a stable, authoritative, and standardized
        source of data for analysing HIV-1 integration sites. It seeks to
        support analyses using the tools of your choice, whether that’s R and
        ggplot or Excel and Prism.
      </p>

      <p>
        The data contained within comes from a variety of published sources as
        well as sources internal to the
        <a href="https://mullinslab.microbiol.washington.edu">Mullins Lab</a>,
        <a href="https://www.seattlechildrens.org/research/global-infectious-disease-research/frenkel-lab/">Frenkel Lab</a>,
        and our collaborators.  The database itself is regularly and
        automatically regenerated from our primary and secondary sources in
        order to incorporate changes and additions.
      </p>

      <h3>Sources</h3>
      <p>
        The database contains
        <strong><% isdb.resultset("Integration").in_vivo.count | commafy %> <em>in vivo</em></strong> and
        <strong><% isdb.resultset("Integration").in_vitro.count | commafy %> <em>in vitro</em> observations</strong>
        across
        <strong><% isdb.resultset("IntegrationGene").count_distinct_genes | commafy %> genes</strong>
        from the following sources.
      </p>

      <h4><em>In vivo</em> datasets</h4>
      <% INCLUDE 'source_list', resultset = isdb.resultset("Integration").in_vivo %>

      <h4><em>In vitro</em> datasets</h4>
      <% INCLUDE 'source_list', resultset = isdb.resultset("Integration").in_vitro %>

      <% BLOCK source_list %>
        <% counts = resultset.counts_by_source_and_publication %>
        <ul>
          <% FOR row IN counts.all %>
            <li>
              <% IF row.get_column("pubmed_id") %>
                <% id   = row.get_column("pubmed_id") %>
                <% info = pubmed_info.$id %>
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/<% id %>">
                  <%- IF info -%>
                    <% info.sortfirstauthor %>.
                  <%- ELSE -%>
                    PubMed ID: <% id %>
                  <%- END -%>
                </a>
                <% IF info %>
                  “<abbr title="“<% info.title %>”"><% info.title.substr(0, 40) %>…</abbr>”
                <% END %>
                via
              <% END %>
              <% IF row.source.document.uri %>
                <a href="<% row.source.document.uri %>"><% row.source.name %></a>
              <% ELSE %>
                <% row.source.name %>
              <% END %>
              <span class="text-muted">n=<% row.get_column("count") | commafy %></span>
            </li>
          <% END %>
        </ul>
      <% END %>

      <% FOREACH query IN [["Subjects", "subjects"], ["Unique IS", "unique_sites"]] %>
        <h3>Top 5 Genes by # of <% query.0 %></h3>
        <% genes = isdb.resultset("SummaryByGene").top_N_by_column(query.1, 5) %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Gene</th>
              <th># of Subjects</th>
              <th>Unique IS</th>
              <th>Total IS</th>
            </tr>
          </thead>
          <tbody>
            <% FOR gene IN genes.all %>
            <tr>
              <td><a href="<% gene.ncbi_gene.uri %>"><% gene.gene %></a></td>
              <td><% gene.subjects %></td>
              <td><% gene.unique_sites %></td>
              <td><% gene.total_in_gene %></td>
            </tr>
            <% END %>
          </tbody>
        </table>
      <% END %>
      <h3 id="issues">Known issues</h3>
      <p>
        ISDB is under active development.
        <% IF issues.size %>
          There are some known issues affecting data quality.
        <% ELSE %>
          However, we don’t know of any issues affecting data quality at the
          moment.  Hooray!
        <% END %>
      </p>
      <ul>
        <% FOR issue IN issues %>
        <li><% issue.name %> (<a href="<% issue.url %>">details</a>)</li>
        <% END %>
      </ul>
      <p>
        If you spot a problem in the ISDB<% IF issues.size %> that you don't see here<% END %>,
        <a href="mailto:mullspt@uw.edu">please let us know</a>.  We strive to
        maintain high quality data ready to be used in analysis.
      </p>
    </div>
    <div class="col col-md-5 col-sm-12">
      <% frozen_versions = versions.grep(->{ this.frozen }).sort('timestamp').reverse %>
      <% IF frozen_versions.size %>
        <h2>Frozen versions</h2>
        <p>
          When it’s time to do a set of analyses, we <em>freeze</em> a version of
          the ISDB at a moment in time.  All our analyses are then done on that
          frozen version, ensuring that the data doesn’t drift as we finalize our
          analyses.  This is similar to using a single, specific version of the
          human genome while working on a study.
        </p>
        <p>
          The following frozen versions of the ISDB are available:
          <ul>
            <% FOR v IN frozen_versions %>
              <li>
                <a href="<% version_url(v) %>"><% v.name %></a>
                <span class="text-muted">
                  (frozen <% parse_timestamp(v.timestamp).strftime("%d %B %Y") %>)
                </span>
              </li>
            <% END %>
          </ul>
        </p>
      <% END %>

      <h2>Genome Browser</h2>
      <p>
        If you’re interested in a specific region of the human genome, such as
        a gene, the <a href="https://genome.ucsc.edu">UCSC Genome Browser</a>
        is a great way to start visualizing the ISDB data.  We provide a custom
        track which you can
        <a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&hgt.customText=<% version_url(version) | uri | html %>exports/tracks/isdb.bed"
           id="load-custom-track">load into the genome browser</a>.
      </p>
      <h2>Download <% version.name %> datasets</h2>
      <% FOR dataset IN exports %>
        <h3><% dataset.name %></h3>
        <p class="text-lg">
          Download <% version.name %> version as:
          <% FOREACH format IN dataset.formats %>
            <%- IF loop.last AND NOT loop.first %> or <% END %>
            <a href="<% format.value.path %>"><% format.key %></a>
            <%- IF NOT loop.last AND loop.index + 1 != loop.max %>, <% END %>
          <% END %>
        </p>
        <p>
          The <% version.name %> version is from <em><% parse_timestamp(dataset.timestamp).strftime('%a %b %e %H:%M %Y %Z') %></em>.
        </p>
        <p>This dataset contains the following fields:</p>
        <ol>
          <% FOR field IN dataset.fields %>
            <li><code><% field %></code></li>
          <% END %>
        </ol>
      <% END %>
      <hr>
      <p class="notice bg-info">
        More documentation for these datasets is available in the
        <a href="doc/Manual.html">work-in-progress manual</a>.
      </p>
      <% IF config.show_database_connection %>
        <h2>Access the database</h2>
        <p>
          If you’re handy with code, you may be able to connect to the database
          directly as a read-only user.  Try:
        </p>
        <table class="table table-condensed">
          <tr><th>Type</th><td>PostgreSQL</td></tr>
          <tr><th>Host</th><td><code><% isdb.storage.dbh.pg_host %></code></td></tr>
          <tr><th>User</th><td><code><% isdb.storage.dbh.pg_user %></code></td></tr>
          <tr><th>Database name</th><td><code><% isdb.storage.dbh.pg_db %></code></td></tr>
        </table>
      <% END %>
    </div>
  </div>
</body>
</html>
